<div class="a-box">
  <a class="routerLink" [routerLink]="['/ExampleImport']">
    案例1（引入three）
  </a>
  <a class="routerLink" [routerLink]="['/ExampleImport/drawing-lines']">
    画线
  </a>
  <a class="routerLink" [routerLink]="['/ExampleImport/GLTFLoader']"
    >引入3D模型</a
  >
  <a class="routerLink" [routerLink]="['/ExampleImport/Test']"
    >感知3D环境和场景内的元素</a
  >
  <a class="routerLink" [routerLink]="['/function-test/camera-test']"
    >阵列立方体和相机适配体验</a
  >
  <a class="routerLink" [routerLink]="['/function-test/gui-test']"
    >gui.js库(可视化改变三维场景)</a
  >
</div>

<div class="layout-router">
  <router-outlet></router-outlet>
</div>
